name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
     - name: Check out the repo
       uses: actions/checkout@v4
    
     - name: Log in to Docker Hub
       uses: docker/login-action@v3
       with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

     - name: Setup .NET SDK
       uses: actions/setup-dotnet@v5
       with:
        dotnet-version: 10.0

     - name: Build Service
       working-directory: ./BoincWatcherService
       run: dotnet build

     - name: Install EF Core CLI tools
       run: dotnet tool install --global dotnet-ef --version 10.0.0

     - name: Build and push Service Docker image
       uses: docker/build-push-action@v6
       with:
         context: ./BoincWatcherService
         file: ./BoincWatcherService/Dockerfile
         push: ${{ github.event_name != 'pull_request' }}
         tags: adamsarok/boinc-watcher-service
